<div class="page-container">
  <h1 class="page-title">{{ i18n.translate('transactions.title') }}</h1>

  <app-card>
    <div class="table-wrapper">
      <table class="data-table">
        <thead class="table-header">
          <tr>
            <th class="table-th">{{ i18n.translate('transactions.hash') }}</th>
            <th class="table-th">{{ i18n.translate('transactions.from') }}</th>
            <th class="table-th">{{ i18n.translate('transactions.to') }}</th>
            <th class="table-th">{{ i18n.translate('transactions.amount') }}</th>
            <th class="table-th">{{ i18n.translate('transactions.status') }}</th>
            <th class="table-th">{{ i18n.translate('transactions.time') }}</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr *ngFor="let tx of transactions" class="table-row">
            <td class="table-td">
              <span class="hash-text">{{ formatHash(tx.hash) }}</span>
            </td>
            <td class="table-td">
              <span class="address-text">{{ formatAddress(tx.from) }}</span>
            </td>
            <td class="table-td">
              <span class="address-text">{{ formatAddress(tx.to) }}</span>
            </td>
            <td class="table-td">
              <span class="amount-text">{{ tx.amount.toFixed(4) }} ACKI</span>
            </td>
            <td class="table-td">
              <app-badge [variant]="getStatusClass(tx.status)">
                {{ i18n.translate('status.' + tx.status) }}
              </app-badge>
            </td>
            <td class="table-td">
              <span class="time-text">{{ formatTime(tx.timestamp) }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>
